<% layout("boilerplate.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>PharmaHub</title>
</head>
<body ><br>
     <h2 style="text-align: center;margin-top: 1.5rem;margin-bottom: 1.5rem;">Welcome to PharmaHub, one stop platform for all your medical needs.</h2>
     <br><br><br>
     <div class="card mb-3" style="max-width: 1100px;border-color: #1f9c61;border-width: 2px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://t3.ftcdn.net/jpg/04/14/78/90/360_F_414789044_6xD0f4z9YcHfQimfnighWoUCIqgEJ66G.jpg" class="img-fluid rounded-start" style="margin-top: 1rem;margin-bottom: 1rem;height: 12rem;margin-left: 3rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 27px;">Get verified medicines at your doorstep in under 10 minutes.</h5>
              <p class="card-text" style="color: #1f9c61;margin-left: 1rem;font-size: 20px;margin-top: 2rem;margin-bottom: 2rem;text-align: center;" >All medicines and health products are checked for authenticity, expiry, and effectiveness by our medical experts.<img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></p>
               <button style="background-color: #1f9c61;width: 12rem;margin-left: 17rem;color: aliceblue;" class="btn">Get your medicnes now.</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card mb-3" style="max-width: 1100px;border-color: #1f9c61;border-width: 2px;">
          <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.mukathospital.com/wp-content/uploads/2023/07/Get-an-Appointment-with-the-Best-Heart-Doctor-Cardiologist-in-Chandigarh.jpg" class="img-fluid rounded-start" style="margin-top: 1rem;margin-bottom: 1rem;height: 12rem;margin-left: 3rem;">

            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 27px;text-align: center;">Get Instant Doctor consultation 24/7</h5>
              <p class="card-text" style="color: #1f9c61;margin-left: 1rem;font-size: 20px;margin-top: 2rem;margin-bottom: 2rem;text-align: center;" >Our Doctors are verified for authenticity, medical license, and experience.</p>
              <button style="background-color: #1f9c61;width: 12rem;margin-left: 17rem;color: aliceblue;" class="btn">Consult a Doctor now.</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card mb-3" style="max-width: 1100px;border-color: #1f9c61;border-width: 2px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://1finance.co.in/magazine/wp-content/uploads/2023/06/16404392_tp212-socialmedia-02-1-scaled.jpg" class="img-fluid rounded-start" alt="..." style="margin-top: 1rem;margin-bottom: 1rem;margin-left: 1rem;height: 12rem;margin-left: 3rem;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 27px;text-align: center;">Claim your insurance in under 10 minutes !</h5>
                  <p class="card-text" style="color: #1f9c61;margin-left: 1rem;font-size: 20px;margin-top: 2rem;margin-bottom: 2rem;text-align: center;" >Get Best Insurance policies starting at just ₹447 per month</p>
                  <button style="background-color: #1f9c61;width: 12rem;margin-left: 17rem;color: aliceblue;" class="btn">Get an insurance now </button>
                </div>
              </div>
            </div>
          </div>
      <br><hr><br>
      <h3 style="text-align: center;">What our customers have to say...</h2>
        <br>
        <div style="display: flex;gap: 5rem;margin-left: 2rem;">
            <div class="card" style="width: 18rem;height: 14rem;border-color: #1f9c61;border-width: 2px;">
                <div class="card-body" style="margin-top: 1.5rem;">
                    <div style="display: flex;">
                  <h5 class="card-title" style="text-align: center;">Basant Kumar  </h5>
                </div>
                  <p class="card-text" style="font-size: 15px;">Seamless experience in Insurance claims and super fast medicine delivery, very satisfied with the service. </p>
                </div>
              </div>
              <div class="card" style="width: 18rem;height: 14rem;border-color: #1f9c61;border-width: 2px;">
                <div class="card-body">
                  
                  <h5 class="card-title" style="margin-top: 1.5rem;">Vipin Kumar  </h5>
                
                  <p class="card-text" style="font-size: 15px;">Very nice platform for all your medical needs.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;height: 14rem;border-color: #1f9c61;border-width: 2px;">
              <div class="card-body" style="margin-top: 1.5rem;">
                  
                <h5 class="card-title">U.K. Jha</h5>
    
               <p class="card-text" style="font-size: 15px;">I had a sprain in leg after dancing, I got Instant online consultation with doctor at PharmaHub, very nice experience.</p>
                </div>
              </div>
          </div>
          <br><br>
</body>

</html>
