<% layout("boilerplate.ejs") %>

<body>
    <br>
    <h2>Claim your insurance in under 10 minutes !</h2>
    <form action="/insurance" method="post" >
        <br>
        <lable for="username" class="form-label" >Enter Your Insurance policy details <i class="fa-solid fa-hospital-user"></i></lable>
        <input name="username"id="username" placeholder="Name" type="text" style="width: 20rem;margin-top: 0.5rem;" class="form-control" required/>
        <input name="username"id="username" placeholder="Phone number" type="text" style="width: 20rem;margin-top: 0.5rem;" class="form-control" required/>
        <input name="username"id="username" placeholder="Policy number" type="text" style="width: 20rem;margin-top: 0.5rem;" class="form-control" required/>
        <br>
        <button class="btn btn-sm" style="background-color: #1f9c61;color: white;">Start Claim process</button>
        <br><br>
        
    </form>
    <hr>
    <br>
    <h2>Get Best Insurance policies starting at just  &#x20B9;447 per month</h2>
    <br>
    <br>
    <div class="card mb-3" style="max-width: 800px;border-color: #1f9c61;border-width: 2px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://static.pbcdn.in/health-cdn/images/insurer-logo/HDFC_ERGO@2x.png" class="img-fluid rounded-start" style="margin-top: 1rem;margin-bottom: 1rem;height: 6rem;margin-left: 1rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 27px;">Optima Secure by HDFC ERGO</h5>
              <p class="card-text" style="color: #1f9c61;margin-left: 1rem;" >Cover of &#x20B9;5Lakh starting at &#x20B9;901 per month</p>
              <button style="background-color: #1f9c61;width: 5rem;margin-left: 22rem;color: aliceblue;" class="btn">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card mb-3" style="max-width: 800px;border-color: #1f9c61;border-width: 2px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://static.pbcdn.in/health-cdn/images/insurer-logo/Reliance@2x.png" class="img-fluid rounded-start" alt="..." style="margin-top: 1rem;margin-bottom: 1rem;margin-left: 1rem;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 27px;">Health Gain by Reliance General Insurance</h5>
              <p class="card-text" style="color: #1f9c61;margin-left: 1rem;" >Cover of &#x20B9;5Lakh starting at &#x20B9;447 per month</p>
              <button style="background-color: #1f9c61;width: 5rem;margin-left: 22rem;color: aliceblue;" class="btn">Buy</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card mb-3" style="max-width: 800px;border-color: #1f9c61;border-width: 2px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://static.pbcdn.in/health-cdn/images/insurer-logo/SBI@2x.png" class="img-fluid rounded-start" alt="..." style="margin-top: 1rem;margin-bottom: 1rem;margin-left: 1rem;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 27px;">Aarogya Supreme by SBI General Insurance</h5>
                  <p class="card-text" style="color: #1f9c61;margin-left: 1rem;" >Cover of &#x20B9;5Lakh starting at &#x20B9;840 per month</p>
                  <button style="background-color: #1f9c61;width: 5rem;margin-left:22rem;color: aliceblue;" class="btn">Buy</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card mb-3" style="max-width: 800px;border-color: #1f9c61;border-width: 2px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://static.pbcdn.in/health-cdn/images/insurer-logo/ICICI_Lombard@2x.png" class="img-fluid rounded-start" alt="..." style="margin-top: 1rem;margin-bottom: 1rem;margin-left: 1rem;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 27px;">Health AdvantEdge by ICICI Lombard</h5>
                    <p class="card-text" style="color: #1f9c61;margin-left: 1rem;" >Cover of &#x20B9;5Lakh starting at &#x20B9;936 per month</p>
                    <button style="background-color: #1f9c61;width: 5rem;margin-left: 22rem;color: aliceblue;" class="btn">Buy</button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="card mb-3" style="max-width: 800px;border-color: #1f9c61;border-width: 2px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://static.pbcdn.in/health-cdn/images/insurer-logo/Aditya_Birla@2x.png" class="img-fluid rounded-start" alt="..." style="margin-top: 1rem;margin-bottom: 1rem;margin-left: 1rem;    ">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="font-size: 27px;">Health AdvantEdge by ICICI Lombard</h5>
                      <p class="card-text" style="color: #1f9c61;margin-left: 1rem;" >Cover of &#x20B9;7Lakh starting at &#x20B9;574 per month</p>
                      <button style="background-color: #1f9c61;width: 5rem;margin-left: 22rem;color: aliceblue;" class="btn">Buy</button>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>

</body>

