<% layout("boilerplate.ejs") %>

<body>
    <div style="margin-top: 1rem;display: inline-block;"><h2 >Medicine Delivery under 10 minutes <i class="fa-solid fa-truck" style="margin-left: 0.5rem;color: #529c7c;"></i></h2>
    </div>
    <br><br>
    <form class="d-flex" role="search" >
        <input id="searchbox" class="form-control me-2" type="search" placeholder="Enter the medicine name" style="height: 2rem;width: 24rem;">
        <button id="searchbtn" class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <br><br>
      <div style="display: flex;gap: 5rem;margin-left: 2rem;">
        <div class="card" style="width: 18rem;border-color: #1f9c61;border-width: 2px;">
            <img src="https://www.tabletshablet.com/wp-content/uploads/2021/06/Ecosprin-Av-75-20mg-Capsules-1.jpg" class="card-img-top" alt="..." style="margin-top: 1rem;margin: 2px 2px 2px 25px;height: 15rem;width: 15rem;">
            <div class="card-body" style="margin-top: 0.5rem;">
                <div style="display: flex;">
              <h5 class="card-title">Ecosprin 75mg  </h5>
            </div>
              <h6>Strip Of 10 tablets</h6>
              <h6 style="color: #1f9c61;">PharmaHub verified <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></h6>
              <p class="card-text" style="font-size: 12.5px;">Ecosprin 75 tablet is an antiplatelet medicine. It is used to prevent the risk of heart attacks, stroke and angina. It is also used in patients who have had angioplasty.</p>
              <a href="#" class="btn " style="background-color: #1f9c61;color: aliceblue;">Add to Cart</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;border-color: #1f9c61;border-width: 2px;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2023/3/293942419/AF/BH/OZ/43236650/paracetamol-dolo-tablet-500-mg.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              
              <h5 class="card-title">Dolo 650mg  </h5>
            
              <h6>Strip Of 15 tablets</h6>
              <h6 style="color: #1f9c61;">PharmaHub verified <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></h6>
              <p class="card-text" style="font-size: 12.5px;">Dolo 650 tablet contains an active ingredient called paracetamol, which works by blocking the formation of certain chemicals that cause pain and fever in the body.</p>
              <a href="#" class="btn " style="background-color: #1f9c61;color: aliceblue;">Add to Cart</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;border-color: #1f9c61;border-width: 2px;">
            <img src="https://shreedashrath.com/wp-content/uploads/2021/06/evion1.jpg" class="card-img-top" alt="..." style="margin: 2px 2px 2px 25px;height: 15rem;width: 15rem;">
          <div class="card-body">
              
            <h5 class="card-title">Evion 400mg  </h5>

            <h6>Strip Of 10 tablets </h6>
            <h6 style="color: #1f9c61;">PharmaHub verified <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></h6>
            <p class="card-text" style="font-size: 12.5px;">Evion 400 capsule contains vitamin E (also known as tocopherol) as its active ingredient.It works as an antioxidant and protects body cells from oxidative damage.</p>
            <a href="#" class="btn " style="background-color: #1f9c61;color: aliceblue;">Add to Cart</a>
            </div>
          </div>
      </div>
      <br>
      <div style="display: flex;gap: 5rem;margin-left: 2rem;">
        <div class="card" style="width: 18rem;border-color: #1f9c61;border-width: 2px;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/DN/FJ/EH/24119759/ibuprofen-tablets-i-p-200mg.jpg" class="card-img-top" alt="..." style="margin: 2px 2px 2px 25px;height: 15rem;width: 15rem;">
            <div class="card-body" style="margin-top: 3rem;">
                <div style="display: flex;">
              <h5 class="card-title">Ibuprofin 200mg  </h5>
            </div>
              <h6>Strip Of 15 tablets</h6>
              <h6 style="color: #1f9c61;">PharmaHub verified <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></h6>
              <p class="card-text" style="font-size: 12.5px;">Ibuprofen is a nonsteroidal anti-inflammatory drug that is used to relieve pain, fever, and inflammation. </p>
              <a href="#" class="btn " style="background-color: #1f9c61;color: aliceblue;">Add to Cart</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;border-color: #1f9c61;border-width: 2px;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/3/JO/BG/LR/80109791/omeprazole-20-capsules.jpg" class="card-img-top" alt="..." style="margin-top: 2rem;margin-bottom: 4rem;" >
            <div class="card-body">
              
              <h5 class="card-title">Omeprazole 40mg  </h5>
            
              <h6>Strip Of 10 tablets</h6>
              <h6 style="color: #1f9c61;">PharmaHub verified <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></h6>
              <p class="card-text" style="font-size: 12.5px;">Omeprazole reduces the amount of acid your stomach makes. It's widely used to treat indigestion and heartburn, and acid reflux.</p>
              <a href="#" class="btn " style="background-color: #1f9c61;color: aliceblue;">Add to Cart</a>
            </div>
          </div>    
          <div class="card" style="width: 18rem;border-color: #1f9c61;border-width: 2px;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2023/7/328523507/HJ/PT/HG/125278182/azithromycin-tablet-500-mg-500x500.jpeg" class="card-img-top" alt="..." style="margin: 2px 2px 2px 25px;height: 15rem;width: 15rem;">
          <div class="card-body" style="margin-top: 2rem;">
              
            <h5 class="card-title">Azithromycin 500mg  </h5>

            <h6>2 Strip Of 3 tablets </h6>
            <h6 style="color: #1f9c61;">PharmaHub verified <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /></h6>
            <p class="card-text" style="font-size: 12.5px;"> Azythromycin is an antibiotic medication used for the treatment of a number of bacterial infections including  middle ear infections, strep throat, pneumonia.</p>
            <a href="#" class="btn " style="background-color: #1f9c61;color: aliceblue;">Add to Cart</a>
            </div>
          </div>
      </div>
    <div>
        <br><br>
    <h4>*Our medicines are checked for authenticity, expiry, and effectiveness by our medical experts.<img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" style="height: 2rem;width: 2rem;" /> </h2>
        
        <br>
    </div>
</body>
